@import 'tachyons/src/tachyons';
@import 'videojs-skin.css';

/* Custom properties */
* {
	box-sizing: border-box;
}

html, .sans-serif {	
	font-family:
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	'Roboto',
	'Helvetica Neue',
	Helvetica,
	sans-serif;
}

body {
	line-height: 1.5;
	margin: 0;
	background: var(--site-background);
	color: var(--site-text);

	transition: color var(--animation-duration) var(--animation-timing),
		background var(--animation-duration) var(--animation-timing);
}

.front {
	background: blue;
}

.hover-b--blue:hover {
	border-color: var(--blue);
}

.hover-b--green:hover {
	border-color: var(--green);
}

:root {
	--site-background: #f4f5f7;
	--site-text: var(--black);

	--blue: blue;
	--green: green;

	--slick-dot-color: black;
	--chat-message-background: var(--site-background);
	--chat-message-background-odd: var(--black-20);
	--chat-message-text: var(--black);
	
	--animation-duration: 1.0s;
	--animiation-timing: ease-in-out;
}

.guac-skin-dark {
	--site-background: #2a2a2a;
	--site-text: var(--white);

	--slick-dot-color: white;
	--chat-message-background: var(--black-20);
	--chat-message-background-odd: var(--black-40);
	--chat-message-text: var(--white);
}

#icon_live {
	height: 1.2em;
	padding-right: .2em;
	padding-top: .1em;
	width: 1.2em;
}

.primary {
	color: var(--site-text);
}
.primary-80 {
	color: var(--black-80);
}
.guac-skin-dark .primary-80 {
	color: var(--white-80);
}

.chat-message {
	background: var(--chat-message-background);
	color: var(--chat-message-text);
	padding: .5rem 1rem !important;
}

.chat-message:nth-child(odd) {
	background: var(--chat-message-background-odd);
}

.chat-message-time {
    margin-right: .5rem;
}

.chat-message-user {
	cursor: pointer;
	outline: none;
	word-break: break-all;
}

.chat-message-content {
	word-wrap: break-word;
}

.chat-message-content__emote {
	vertical-align: middle;
	margin: -.5rem 0;
}

.chat-input textarea {
	resize: vertical;
	max-height: 160px;
	min-height: 40px;
}

.site-component-spotlight .slick-dots li button:before {
	color: var(--slick-dot-color);
}

.site-component-spotlight button.slick-arrow:before {
	color: var(--slick-dot-color);
}