@import 'tachyons';
@import 'videojs-skin.css';

/* Custom properties */
* {
	box-sizing: border-box;
}

html, .sans-serif {	
	font-family:
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	'Roboto',
	'Helvetica Neue',
	Helvetica,
	sans-serif;
}

body {
	line-height: 1.5;
	margin: 0;
	background: var(--site-background);
	color: var(--site-text);
}

.front {
	background: blue;
}

.hover-b--blue:hover {
	border-color: var(--blue);
}

.hover-b--green:hover {
	border-color: var(--green);
}

:root {
	--site-background: #f4f5f7;
	--site-text: inherit;

	--blue: blue;
	--green: green;

	--slick-dot-color: black;
	--chat-message-background: var(--white-20);
	--chat-message-text: var(--black);
}

.guac-skin-dark:root {
	--site-background: #111111;
	--site-text: #fff;

	--slick-dot-color: white;
	--chat-message-background: var(--black-20);
	--chat-message-text: var(--white);
} 

.chat-message {
	background: var(--chat-message-background);
	color: var(--chat-message-text);
} 

.site-component-spotlight .slick-dots li button:before {
	color: var(--slick-dot-color);
}

.site-component-spotlight button.slick-arrow:before {
	color: var(--slick-dot-color);
}