@import 'tachyons/src/tachyons';
@import 'videojs-skin.css';

/* Custom properties */
* {
	box-sizing: border-box;
}

html, .sans-serif {	
	font-family:
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	Helvetica,
	Arial,
	sans-serif,
	'Apple Color Emoji',
	'Segoe UI Emoji',
	'Segoe UI Symbol';
}

body {
	line-height: 1.5;
	margin: 0;
	background: var(--site-background);
	color: var(--site-text);

	transition: color var(--animation-duration) var(--animation-timing),
	background var(--animation-duration) var(--animation-timing);
}


.hover-b--blue:hover {
	border-color: var(--blue);
}

.hover-b--green:hover {
	border-color: var(--green);
}

.hover-primary:hover, 
.hover-primary:focus {
	color: var(--site-text);
}

:root {
	--site-background: #f4f5f7;
	--site-text: var(--black);

	--slick-dot-color: black;
	--chat-message-background: var(--site-background);
	--chat-message-background-odd: var(--black-20);
	--chat-message-text: var(--black);
	--chat-message-link: var(--green);
	
	--dropdown-background: #fff;

	--animation-duration: 1.0s;
	--animiation-timing: ease-in-out;
}

.guac-skin-dark {
	--site-background: #2a2a2a;
	--site-text: var(--white);

	--slick-dot-color: white;
	--chat-message-background: var(--black-20);
	--chat-message-background-odd: var(--black-40);
	--chat-message-text: var(--white);
	--chat-message-link: var(--light-green);

	--dropdown-background: #111111;
}

.primary {
	color: var(--site-text);
}
.primary-80 {
	color: var(--black-80);
}
.guac-skin-dark .primary-80 {
	color: var(--white-80);
}

.GuacImage {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    vertical-align: middle
}

.GuacImage.-rounded {
    border-radius: 3px
}

.GuacImage.-circle {
    border-radius: 50%
}

.GuacImage.-squircle {
    border-radius: 35%
}

.GuacImage.is-error {
    background: #111
}

.GuacImage.-flexible {
    position: relative;
    width: 100%
}

.GuacImage.-flexible:before {
    display: block;
    padding-bottom: 56.25%;
    content: ""
}

.GuacImage.-flexible div,.GuacImage.-flexible img {
    position: absolute;
    top: 0;
    left: 0
}

.dropdown-menu {
	background: var(--dropdown-background);
}

.site-component-sidebar {
	width: 24rem;
}

@media (--breakpoint-medium) {
	.site-component-sidebar {
		width: 8rem;
	}	
}

.simplebar-track {
    will-change: opacity;
}

.simplebar-track .simplebar-scrollbar {
    background: #000;
    box-shadow: 0 0 1px 1px hsla(0,0%,100%,.25);
}

.guac-skin-dark .simplebar-track .simplebar-scrollbar {
    background: #1f1f23;
}

.guac-skin-light .simplebar-track .simplebar-scrollbar {
    background: #000;
}

.simplebar-track .simplebar-scrollbar.visible {
    opacity: .7;
}

.simplebar-track.vertical .simplebar-scrollbar {
    width: .6rem;
}

.simplebar-track.horizontal .simplebar-scrollbar {
    height: .6rem;
}


.chat-message {
	background: var(--chat-message-background);
	color: var(--chat-message-text);
	padding: .5rem 1rem !important;
}

.chat-message:nth-child(odd) {
	background: var(--chat-message-background-odd);
}

.chat-message-time {
	margin-right: .5rem;
}

.chat-message-user {
	cursor: pointer;
	outline: none;
	word-break: break-all;
}

.chat-message-content {
	word-wrap: break-word;
}

.chat-message-content a {
	color: var(--chat-message-link);
    transition: color .15s ease-in;
    text-decoration: none;
}

.chat-message-content a:hover {
    text-decoration: underline;
}

.chat-message-content__emote {
	vertical-align: middle;
	margin: -.5rem 0;
	min-width: 1.8rem;
	height: 1.8rem;
}

.chat-message-badges {
	display: inline-flex;
	vertical-align: text-top;
	align-items: center;
	margin-left: -.2em;
}
.chat-message-badges__badge {
	display: inline-block;
	margin-left: .2em;
	margin-right: .2em;
	min-width: 1.8rem;
	height: 1.8rem;
	border-radius: 0.2rem;
}

.chat-message-badges__badge::before {
	display: none;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.chat-message-badges__badge[data-badge='broadcaster']::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	/* Video */
	content: "\f03d";
}

.chat-message-badges__badge[data-badge='moderator']::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	/* Shield-alt */
	content: "\f3ed";
}

.chat-message-badges__badge[data-badge='staff']::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	/* Wrench */
	content: "\f0ad";
}

/* Currently same as staff icon */
.chat-message-badges__badge[data-badge='admin']::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	/* Wrench */
	content: "\f0ad";
}

.chat-input textarea {
	resize: vertical;
	max-height: 160px;
	min-height: 40px;
}
.emoji-mart-emoji-custom span {
	background-repeat: no-repeat;
}

.site-component-spotlight .slick-dots li button:before {
	color: var(--slick-dot-color);
}

.site-component-spotlight button.slick-arrow:before {
	color: var(--slick-dot-color);
}

.player-embed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}