
@import '@silvermine/videojs-quality-selector/dist/css/quality-selector.css';
@import 'videojs-theater-mode/dist/videojs.theaterMode.css';
@import 'videojs-errors/dist/videojs-errors.css';

@import './videojs-chromecast.css';
.video-js .vjs-tech {
	pointer-events: none;
}

.vjs-fullscreen.vjs-user-inactive {
	cursor: none
}

.video-js .vjs-progress-control {
	visibility: hidden
}

.video-js .vjs-remaining-time-display {
	visibility: hidden
}

.vjs-live-display {
	visibility: hidden
}

.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
	width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-control {
	width: 3em
}

.video-js .vjs-menu-button-inline:before {
	width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
	left: 3em
}

.vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
	width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-control {
	width: 3em
}

.video-js .vjs-menu-button-inline:before {
	width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
	left: 3em
}

.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
	padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
	display: none
}

.video-js.vjs-ended .vjs-big-play-button {
	display: block!important
}

.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button {
	display: block
}

.video-js .vjs-big-play-button {
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, .35);
	font-size: 3.5em;
	border-radius: 50%
}

.video-js .vjs-big-play-button:active,
.video-js .vjs-big-play-button:focus,
.video-js:hover .vjs-big-play-button {
	background-color: rgba(0, 0, 0, .35)
}

.video-js .vjs-loading-spinner {
	border-color: rgba(255, 255, 255, .7)
}

.video-js .vjs-control-bar2 {
	background-color: transparent
}

.video-js .vjs-control-bar {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #fff;
	font-size: 14px
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
	background-color: var(--green) !important
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
	background-color: rgba(25, 169, 116	, 0.7) !important
}
.video-js .vjs-menu li.vjs-selected {
	color: var(--black);
}

.video-js .vjs-button {
    height: auto !important;
}

.video-js .vjs-big-play-button {
	height: 2em!important;
	width: 2em!important;
	line-height: 1.9em!important;
	margin-top: -1em!important;
	margin-left: -1em;
	border-width: 3px
}

.video-js .vjs-big-play-button:before,
.video-js .vjs-icon-play:before {
	font-size: 50px
}

.video-js .vjs-progress-holder {
	font-size: 1.7em;
	border-radius: 10px
}

.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-slider,
.vjs-volume-level {
	border-radius: 10px
}

.video-js .vjs-load-progress {
	background: rgba(255, 255, 255, .5)
}

.vjs-menu li.vjs-menu-item:hover {
	outline: 0;
}

.video-js .vjs-slider {
	outline: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.video-js .vjs-button,
.video-js .vjs-volume-level {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.video-js .vjs-control {
	outline: none;
}

.video-js .vjs-big-play-button:focus {
	outline: 0;
}

.player {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 10px;
	color: #fff;
	background: #000;
	overflow: hidden;
}


.player button:hover {
	cursor: pointer;
}


.player-advertisement,
.player-video object,
.player-video {
	position: absolute;
	width: 100%;
	height: 100%;
}

.player-button {
	height: 4em;
	width: 3em;
	position: relative;
	background: none;
	padding: 0 0 1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	float: left;
	overflow: visible;
}

.player li,
.player ol,
.player ul {
	list-style-type: none;
}

.video-js ul {
	position: absolute;
	/*top: 2em;
	left: 2em;*/
	background: rgba(0, 0, 0, .8);
	padding: 30px 10px 10px;
	margin: 0;
	line-height: 20px;
	width: 250px;
	max-width: 80vw;
	overflow-y: auto;
	max-height: 70vh;
	list-style-type: none;
	-webkit-box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .15);
	box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .15);
	display: inline-block;
	z-index: 2;
}

.player button,
.player input[type=button],
.player input[type=file]::-webkit-file-upload-button,
.player input[type=reset],
.player input[type=submit] {
	border-radius: 0;
}

.player-button--close {
	position: absolute !important;
	top: 0;
	right: 0;
}

.player-button--noscale {
	height: 30px;
	width: 30px !important;
}

.player-button {
	height: 4em;
	width: 3em;
	position: relative;
	background: none;
	padding: 0 0 1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	float: left;
	overflow: visible;
}

.player svg:not(:root) {
	overflow: hidden;
	-webkit-transform: translate(0);
	transform: translate(0);
}

.player-button--close svg {
	fill: #bdbdbd !important;
}

.player-button svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 3em;
	fill: #fff;
}

.player svg {
	pointer-events: none;
}

:not(svg),
:not(foreignObject)>svg {
	transform-origin: 0px 0px;
}

video[poster]{
    object-fit: cover !important;
}
.video-js .vjs-poster {
    background-size: cover !important;
    background-position: inherit !important;
}

.video-js .vjs-chromecast-button .vjs-icon-placeholder {
	height: 1.5em;
	width: 1.5em;
	position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    flex: none;
    vertical-align: middle;
}

/* Animations */
.video-js .vjs-big-play-button {
    transition: all .3s ease!important;
    -webkit-transition: all .3s ease!important;
    transition-property: transform,opacity,background-color!important;
    -webkit-transition-property: transform,opacity,background-color!important;
    border-radius: 10px!important
}

.video-js.vjs-paused .vjs-big-play-button {
    transform: scale(1)
}

.video-js.vjs-playing .vjs-big-play-button {
    display: block!important;
    opacity: 0!important;
    transform: scale(1.2);
    pointer-events: none
}

.video-js .vjs-loading-spinner {
	opacity: .75!important
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    opacity: 0!important;
    transform: translateY(10px) scale(.9)!important;
    transform-origin: bottom!important;
    pointer-events: none!important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition-property: transform,opacity;
    -webkit-transition-property: transform,opacity
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content .vjs-menu-item {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition-property: background-color,text-shadow;
    -webkit-transition-property: background-color,text-shadow;
}

.vjs-menu-button-popup .vjs-menu.vjs-lock-showing .vjs-menu-content,.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu .vjs-menu-content {
    pointer-events: all!important;
    opacity: 1!important;
    transform: translateY(0) scale(1)!important
}
