.video-js .vjs-tech {
    pointer-events: none;
}
.vjs-fullscreen.vjs-user-inactive {
    cursor: none
}
.video-js .vjs-progress-control {
    visibility: hidden
}
.video-js .vjs-remaining-time-display {
    visibility: hidden
}
.vjs-live-display {
    visibility: hidden
}
.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em
}
.video-js .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
}
.video-js .vjs-control {
    width: 3em
}
.video-js .vjs-menu-button-inline:before {
    width: 1.5em
}
.vjs-menu-button-inline .vjs-menu {
    left: 3em
}
.vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em
}
.video-js .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
}
.video-js .vjs-control {
    width: 3em
}
.video-js .vjs-menu-button-inline:before {
    width: 1.5em
}
.vjs-menu-button-inline .vjs-menu {
    left: 3em
}
.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
    display: none!important
}
.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
    padding: 0 .4em .3em
}
.video-js.vjs-ended .vjs-loading-spinner {
    display: none
}
.video-js.vjs-ended .vjs-big-play-button {
    display: block!important
}
.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
video-js.vjs-ended .vjs-big-play-button {
    display: block
}
.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, .35);
    font-size: 3.5em;
    border-radius: 50%
}
.video-js .vjs-big-play-button:active,
.video-js .vjs-big-play-button:focus,
.video-js:hover .vjs-big-play-button {
    background-color: rgba(0, 0, 0, .35)
}
.video-js .vjs-loading-spinner {
    border-color: rgba(255, 255, 255, .7)
}
.video-js .vjs-control-bar2 {
    background-color: transparent
}
.video-js .vjs-control-bar {
    background-color: rgba(0, 0, 0, 0)!important;
    color: #fff;
    font-size: 18px
}
.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
    background-color: #2483d5
}
.video-js .vjs-big-play-button {
    height: 2em!important;
    width: 2em!important;
    line-height: 1.9em!important;
    margin-top: -1em!important;
    margin-left: -1em;
    border-width: 3px
}
.video-js .vjs-big-play-button:before,
.video-js .vjs-icon-play:before {
    font-size: 50px
}
.video-js .vjs-progress-holder {
    font-size: 1.7em;
    border-radius: 10px
}
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-slider,
.vjs-volume-level {
    border-radius: 10px
}
.video-js .vjs-load-progress {
    background: rgba(255, 255, 255, .5)
}
.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu {
    display: none;
}
.vjs-menu li.vjs-menu-item:hover {
    outline: 0;
}
.video-js .vjs-slider {
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.video-js .vjs-button,
.video-js .vjs-volume-level {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.video-js .vjs-control {
    outline: none;
}
.video-js .vjs-big-play-button:focus {
    outline: 0;
}
.video-js ul {
    position: absolute;
    /*top: 2em;
    left: 2em;*/
    background: rgba(0, 0, 0, .8);
    padding: 30px 10px 10px;
    margin: 0;
    line-height: 20px;
    width: 250px;
    max-width: 80vw;
    overflow-y: auto;
    max-height: 70vh;
    list-style-type: none;
    -webkit-box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .15);
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .15);
    display: inline-block;
    z-index: 2;
}
:not(svg),
:not(foreignObject) > svg {
    transform-origin: 0px 0px;
}
video[poster]{
    object-fit: cover !important;
}
.vjs-poster {
    background-size: cover !important;
    background-position: inherit !important;
}
