
@import '@silvermine/videojs-quality-selector/dist/css/quality-selector.css';
@import 'videojs-theater-mode/dist/videojs.theaterMode.css';
@import 'videojs-errors/dist/videojs-errors.css';

@import './videojs-chromecast.css';
@import './videojs-settings.css';
.video-js .vjs-tech {
	pointer-events: none;
}

.vjs-fullscreen.vjs-user-inactive {
	cursor: none
}

.video-js.vjs-live .vjs-progress-control {
	visibility: hidden
}

.video-js.vjs-live .vjs-remaining-time-display {
	visibility: hidden
}

.vjs-live-display {
	visibility: hidden
}

.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
	width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-control {
	width: 3em
}

.video-js .vjs-menu-button-inline:before {
	width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
	left: 3em
}

.vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
	width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-control {
	width: 3em
}

.video-js .vjs-menu-button-inline:before {
	width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
	left: 3em
}

.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
	display: none!important
}

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
	padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
	display: none
}

.video-js.vjs-ended .vjs-big-play-button {
	display: block!important
}

.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button {
	display: block
}

.video-js .vjs-big-play-button {
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, .35);
	font-size: 3.5em;
	border-radius: 50%
}

.video-js .vjs-big-play-button:active,
.video-js .vjs-big-play-button:focus,
.video-js:hover .vjs-big-play-button {
	background-color: rgba(0, 0, 0, .35)
}

.video-js .vjs-loading-spinner {
	border-color: rgba(255, 255, 255, .7)
}

.video-js .vjs-control-bar2 {
	background-color: transparent
}

.video-js .vjs-control-bar {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #fff;
	font-size: 14px
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
	background-color: var(--green) !important
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
	background-color: rgba(25, 169, 116	, 0.7) !important
}
.video-js .vjs-menu li.vjs-selected {
	color: var(--black);
}

.video-js .vjs-button {
    height: auto !important;
}

.video-js .vjs-big-play-button {
	height: 2em!important;
	width: 2em!important;
	line-height: 1.9em!important;
	margin-top: -1em!important;
	margin-left: -1em;
	border-width: 3px;
	background-color: rgba(0,0,0,.35) !important;
	font-size: 3.5em;
	border-radius: 50% !important;
	border-width: 3px;
	display: block;
}

.video-js .vjs-big-play-button:before,
.video-js .vjs-icon-play:before {
	font-size: 50px
}

.video-js .vjs-progress-holder {
	font-size: 1.7em;
	border-radius: 10px
}

.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div,
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-slider,
.vjs-volume-level {
	border-radius: 10px
}

.video-js .vjs-load-progress {
	background: rgba(255, 255, 255, .5)
}

.vjs-menu li.vjs-menu-item:hover {
	outline: 0;
}

.video-js .vjs-slider {
	outline: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.video-js .vjs-button,
.video-js .vjs-volume-level {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.video-js .vjs-control {
	outline: none;
}

.video-js .vjs-big-play-button:focus {
	outline: 0;
}

.video-js.vjs-layout-small .vjs-current-time,
.video-js.vjs-layout-small .vjs-time-divider,
.video-js.vjs-layout-small .vjs-duration,
.video-js.vjs-layout-small .vjs-remaining-time,
.video-js.vjs-layout-small .vjs-playback-rate,
.video-js.vjs-layout-small .vjs-chapters-button,
.video-js.vjs-layout-small .vjs-descriptions-button,
.video-js.vjs-layout-small .vjs-captions-button,
.video-js.vjs-layout-small .vjs-subtitles-button,
.video-js.vjs-layout-small .vjs-audio-button,
.video-js.vjs-layout-small .vjs-volume-control, .video-js.vjs-layout-x-small .vjs-current-time,
.video-js.vjs-layout-x-small .vjs-time-divider,
.video-js.vjs-layout-x-small .vjs-duration,
.video-js.vjs-layout-x-small .vjs-remaining-time,
.video-js.vjs-layout-x-small .vjs-playback-rate,
.video-js.vjs-layout-x-small .vjs-chapters-button,
.video-js.vjs-layout-x-small .vjs-descriptions-button,
.video-js.vjs-layout-x-small .vjs-captions-button,
.video-js.vjs-layout-x-small .vjs-subtitles-button,
.video-js.vjs-layout-x-small .vjs-audio-button,
.video-js.vjs-layout-x-small .vjs-volume-control, .video-js.vjs-layout-tiny .vjs-current-time,
.video-js.vjs-layout-tiny .vjs-time-divider,
.video-js.vjs-layout-tiny .vjs-duration,
.video-js.vjs-layout-tiny .vjs-remaining-time,
.video-js.vjs-layout-tiny .vjs-playback-rate,
.video-js.vjs-layout-tiny .vjs-chapters-button,
.video-js.vjs-layout-tiny .vjs-descriptions-button,
.video-js.vjs-layout-tiny .vjs-captions-button,
.video-js.vjs-layout-tiny .vjs-subtitles-button,
.video-js.vjs-layout-tiny .vjs-audio-button,
.video-js.vjs-layout-tiny .vjs-volume-control {
  display: none;
}
.video-js.vjs-layout-small .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.video-js.vjs-layout-small .vjs-volume-panel.vjs-volume-panel-horizontal:active,
.video-js.vjs-layout-small .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active, .video-js.vjs-layout-x-small .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.video-js.vjs-layout-x-small .vjs-volume-panel.vjs-volume-panel-horizontal:active,
.video-js.vjs-layout-x-small .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active, .video-js.vjs-layout-tiny .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.video-js.vjs-layout-tiny .vjs-volume-panel.vjs-volume-panel-horizontal:active,
.video-js.vjs-layout-tiny .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active {
  width: auto;
  width: initial;
}
.video-js.vjs-layout-x-small:not(.vjs-liveui) .vjs-subs-caps-button, .video-js.vjs-layout-x-small:not(.vjs-live) .vjs-subs-caps-button, .video-js.vjs-layout-tiny .vjs-subs-caps-button {
  display: none;
}
.video-js.vjs-layout-x-small.vjs-liveui .vjs-custom-control-spacer, .video-js.vjs-layout-tiny .vjs-custom-control-spacer {
  flex: auto;
  display: block;
}
.video-js.vjs-layout-x-small.vjs-liveui.vjs-no-flex .vjs-custom-control-spacer, .video-js.vjs-layout-tiny.vjs-no-flex .vjs-custom-control-spacer {
  width: auto;
}
.video-js.vjs-layout-x-small.vjs-liveui .vjs-progress-control, .video-js.vjs-layout-tiny .vjs-progress-control {
  display: none;
}

:not(svg),
:not(foreignObject)>svg {
	transform-origin: 0px 0px;
}

.video-js:not(.vjs-playing):not(.vjs-paused) video[poster]{
    /*object-fit: cover !important;*/
}

.video-js .vjs-poster {
	/*background-size: cover !important;
    background-position: inherit !important;*/
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
}

.video-js .vjs-chromecast-button .vjs-icon-placeholder
{
	height: 1.5em;
	width: 1.5em;
	position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    flex: none;
    vertical-align: middle;
}
.video-js .vjs-settings-button.vjs-icon-cog:before {
    font-size: 1.8em;
    line-height: 1.67;
}

/* Disable theatre-mode if on small screen */
.video-js .vjs-layout-small .vjs-theater-mode-control-open,
.video-js .vjs-layout-small .vjs-theater-mode-control-close {
	display: none;
}

/* Animations */
.video-js .vjs-big-play-button {
    transition: all .3s ease!important;
    -webkit-transition: all .3s ease!important;
    transition-property: transform,opacity,background-color!important;
    -webkit-transition-property: transform,opacity,background-color!important;
    border-radius: 10px!important
}

.video-js.vjs-paused .vjs-big-play-button {
    transform: scale(1)
}

.video-js.vjs-playing .vjs-big-play-button {
    display: block!important;
    opacity: 0!important;
    transform: scale(1.2);
    pointer-events: none
}

.video-js .vjs-loading-spinner {
	opacity: .75!important
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    opacity: 0!important;
    transform: translateY(10px) scale(.9)!important;
    transform-origin: bottom!important;
    pointer-events: none!important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition-property: transform,opacity;
    -webkit-transition-property: transform,opacity
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content .vjs-menu-item {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition-property: background-color,text-shadow;
    -webkit-transition-property: background-color,text-shadow;
}

.vjs-menu-button-popup .vjs-menu.vjs-lock-showing .vjs-menu-content,.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu .vjs-menu-content {
    pointer-events: all!important;
    opacity: 1!important;
    transform: translateY(0) scale(1)!important
}
